.cards-container {
    background: $color-secondary;
    position: absolute;
    width: 1240px;
    height: 829px;
    left: 100px;
    top: 437px;
}

.card {
    position: absolute;
    left: 68.55%;
    right: 4.03%;
    top: 53.8%;
    bottom: 5.19%;
    &__img {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        background: $color-primary;
        border-radius: 10px;
    }
    &__title {
        position: absolute;
        left: 5.88%;
        right: 5.88%;
        top: 78.82%;
        bottom: 5.88%;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        /* or 26px */

        display: flex;
        align-items: flex-end;

        color: $color-tertiary;
    }
}
