.nav {
    &__accueil,
    &__about {
        margin-left: 50px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        color: $color-primary;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 425px) {
    .nav {
        width: 140px;
        text-align: right;
        &__accueil,
        &__about {
            font-size: 12px;
            margin-left: 10px;
            text-transform: uppercase;
        }
    }
}
