.banner {
    height: 14em;
    border-radius: 1.5em;
    margin-bottom: 40px;
    &__title {
        position: relative;
        top: -180px;
        text-align: center;
        color: $color-tertiary;
        font-size: 3em;
        font-weight: 500;
    }
}

.filter {
    filter: brightness(70%);
}
